[Unit]
Description=Transflow

[Service]
Type=forking
WorkingDirectory=/opt/transflow
ExecStart=/opt/transflow/startup.sh start
ExecStop=/opt/transflow/startup.sh stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
